.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.book h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.rating {
  font-size: 0.9rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.author {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.author span {
  display: block;
}

.bookImage {
  margin: auto;
  max-width: 8rem;
  min-width: 6rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.bookImage img {
  width: 100%;
}

.text {
  line-height: 1.6;
}

.month {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .book h1 {
    font-size: 3rem;
  }

  .rating {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .author span {
    display: inline-block;
  }

  .author span:first-child {
    margin-right: 0.5rem;
  }

  .text {
    font-size: 1.2rem;
  }

  .bookImage {
    margin-bottom: 2rem;
  }
}
