.quoteContainer {
  width: 100vw;
  text-align: center;
  padding: 0 1rem;
  animation: appear 30000ms ease;
  margin: calc(100vh - 90vh) 0;
  opacity: 0;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .quoteContainer {
    margin: calc(100vh - 75vh) 0;
  }
}
