.notInWishlist,
.wishlisted,
.read,
.notRead {
  display: inline-block;
  background-color: var(--medium);
  padding: 7px;
  border-radius: 7px;
  margin: 0 0.5rem;
  cursor: pointer;
  width: 38px;
  height: 38px;
}

.icons svg {
  margin: 0;
}

.notInWishlist,
.wishlisted svg {
  fill: var(--primary);
}

.read,
.notRead svg {
  fill: var(--secondary);
}
