.button {
  width: 2rem;
  font-size: 0.8rem;
}

.input {
  width: 10rem;
}

.buttonChangeDate {
  width: 5rem;
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.changeDate {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
