.signInOut {
  display: flex;
  fill: var(--secondary);
  color: var(--secondary);
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  cursor: pointer;
}

.signInOut:hover {
  fill: var(--primary);
  color: var(--primary);
}

svg {
  margin: 0 0.3rem;
}
