:root {
  --star-size: 2rem;
  --star-color: var(--dark);
}

.stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: 'Times New Roman';
  line-height: 1;
}

.stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--primary) var(--percent),
    var(--star-color) var(--percent)
  );
  background-clip: text;
  color: transparent;
}

@media (min-width: 768px) {
  :root {
    --star-size: 3rem;
  }
}
