.container {
  width: 100vw;
  height: 100vh;
  background: url('../assets/main.jpg') no-repeat center center / cover;
  overflow: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(238, 226, 220, 0.25);
}

.profileButton {
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 7.5rem);
  width: 15rem;
}

@media (min-width: 768px) {
  .profileButton {
    bottom: 7rem;
    left: calc(80% - 7.5rem);
  }
}
