.mainAuthContainer {
  width: calc(100vw - 2rem);
  margin: 0 1rem;
  position: absolute;
  bottom: 1rem;
  left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.guest,
.signIn,
.signUp {
  text-align: center;
  width: 100%;
  padding-bottom: 0.3rem;
}

.mainAuthContainer h2 {
  font-size: 1.7rem;
  padding-bottom: 0.2rem;
  font-weight: normal;
}

.mainAuthContainer a {
  text-decoration: none;
  color: black;
}

.mainAuthContainer a:hover {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .signIn,
  .signUp {
    text-align: center;
    width: 50%;
    padding-bottom: 2rem;
  }

  .mainAuthContainer {
    width: 50rem;
    left: calc(50vw - 26rem);
    bottom: 4rem;
  }

  .mainAuthContainer h2 {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
    font-weight: normal;
  }

  .mainAuthContainer a {
    font-size: 1.2rem;
  }
}
