.button {
  cursor: pointer;
  border: none;
  padding: 0.6rem 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  font-weight: bold;
  background-color: var(--light);
  color: var(--secondary);
  width: 100%;
  max-width: 15rem;
  font-family: inherit;
  font-size: inherit;
  margin: 0 auto 1rem auto;
}

.button:hover,
.button:active {
  color: var(--dark);
}

.button--primary {
  background-color: var(--primary);
  color: var(--light);
}

.button--secondary {
  background-color: var(--secondary);
  color: var(--light);
}

.button--dark {
  background-color: var(--dark);
  color: var(--secondary);
}

.button--dark:hover,
.button--dark:active {
  color: var(--light);
}

.button--medium {
  background-color: var(--medium);
  color: var(--secondary);
}
