.container {
  padding: 1rem 5% 1rem 5%;
  background-color: var(--light);
  height: calc(100vh - 13.5rem);
  width: 100vw;
  margin-top: 5rem;
  overflow-x: hidden;
  margin-bottom: 8.5rem;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem 10% 2rem 10%;
  }
}

@media (min-width: 1366px) {
  .container {
    padding: 1rem 20% 2rem 20%;
  }
}
