.input {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.input label,
.input input {
  padding: 0.3rem 0;
  display: block;
  width: 100%;
  max-width: 25rem;
}

.input input {
  border-radius: 5px;
  border: 1px solid var(--dark);
  font: inherit;
  outline: none;
  padding: 0.5rem;
}

.input input:focus {
  background-color: var(--medium);
  border: 2px solid var(--dark);
}
